{% extends "base.html" %}
{% block main %}
	<nav>
		<a href="{{ url_for('product.add_page') }}">Add new product</a>
		<a href="{{ url_for('product.transactions_page') }}">Stock changes</a>
		<a href="/">Go to start page</a>
	</nav>
	<table id="products">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Price</th>
				<th>Units stored</th>
				<th>Units minimum</th>
				<th>Units sold</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
			<tr>
				<td>{{ product.name }}</td>
				<td>{{ product.category }}</td>
				<td>
					{% if product.unit == 'each' %}
						{{ product.unit_price/100 }}
					{% elif product.unit == 'kg' %}
						{{ product.unit_price/100 }}/kg
					{% endif %}
				</td>
				<td>{{ product.units_stored }}</td>
				<td>{{ product.units_min }}</td>
				<td>{{ product.units_sold }}</td>
				<td>
					<a href="{{ url_for('product.update_page', id=product.id) }}">Update</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
