{% extends "base.html" %}
{% block main %}
	<form action="{{ url_for('product.update_page', id=product.id) }}" method="post">
		<label for="name">Name:
			<input type="text" name="name" value="{{ product.name }}" placeholder="{{ product.name }}" required>
		</label>
		<br>
		<label for="category_id">Category:
			<select name="category_id" required>
				<option value="{{ product.category_id if product.category_id else '' }}" selected>Same</option>
				{% for category in categories %}
				<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
				<option value="">None</option>
			</select>
		</label>
		<br>
		<label for="unit">Unit:
			<select name="unit" required>
				<option value="{{ product.unit }}" selected>Same</option>
				<option value="each">Per unit</option>
				<option value="kg">Kilogram</option>
			</select>
		</label>
		<br>
		<label for="unit_price">Price:
			<input name="unit_price" type="number" min="0.10" max="10000.00" step="0.01" value="{{ product.unit_price/100 }}" placeholder="{{ product.unit_price/100 }}" required />
		</label>
		<br>
		<label for="units_stored">Units stored:
			<input name="units_stored" type="number" min="1" max="10000" step="1" value="{{ product.units_stored }}" placeholder="{{ product.units_stored }}" required />
		</label>
		<br>
		<label for="units_min">Units minimum:
			<input name="units_min" type="number" min="0" max="10000" step="1" value="{{ product.units_min }}" placeholder="{{ product.units_min }}" required />
		</label>
		<br>
		<button type="submit">Update</button>
		<button type="button" id="btn-delete">DELETE</button>
	</form>
	<p><a href="{{ url_for('product.index') }}">Go back</a></p>
	<script>
		document.getElementById('btn-delete').addEventListener('click', function() {
			if (confirm('Are you sure you want to delete "{{ product.name }}"?')) {
				window.location.href = '{{ url_for('product.update_page', id=product.id, delete=1) }}';
            }
        });
	</script>
{% endblock %}
