{% extends "_base.html" %}
{% block main %}
<form action="{{ url_for('.update_page', id=product.id) }}" method="post">
	<label for="name">Name:
		<input type="text" name="name" value="{{ product.name }}" placeholder="{{ product.name }}" required>
	</label>
	<br>
	<label for="category_id">Category:
		<select name="category_id">
			<option value="{{ product.category_id if product.category_id else '' }}" selected>Same</option>
			{% for category in categories %}
			<option value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
			<option value="">None</option>
		</select>
	</label>
	<br>
	<label for="unit_price">Price:
		<input name="unit_price" type="number" min="0.10" max="10000.00" step="0.01" value="{{ product.unit_price/100 }}" placeholder="{{ product.unit_price/100 }}" required />
	</label>
	<br>
	<label for="units_stored">Units stored:
		<input name="units_stored" type="number" min="1" max="10000" step="1" value="{{ product.units_stored }}" placeholder="{{ product.units_stored }}" required />
	</label>
	<br>
	<label for="units_min">Units minimum:
		<input name="units_min" type="number" min="0" max="10000" step="1" value="{{ product.units_min }}" placeholder="{{ product.units_min }}" required />
	</label>
	<br>
	<button type="submit">Update</button>
	<button type="button" onclick="deleteProduct('{{ product.name }}', '{{ url_for('.delete_product', id=product.id) }}')">DELETE</button>
</form>
<p><a href="{{ url_for('.start_page') }}">Go back</a></p>
{% endblock %}
{% block script %}
function deleteProduct(name, href) {
	if (confirm(`Are you sure you want to delete "${name}"?`)) {
		window.location.href = href;
	}
}
{% endblock %}
