<!DOCTYPE html>
<html lang="{{ get_locale() }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>{{ page_title }}</title>
		<style>{% block style %}{% endblock %}</style>
	</head>
	<body>
		<h1>{{ page_title }}</h1>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<ul id="flashes">
			{% for category, message in messages %}
				<li class="flash-{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		<main>
		{% block main %}
		{% endblock %}
		</main>
		<hr />
		{% if g.current_user.is_authenticated and g.current_route != 'occurrence.add_page' %}
		<small>
			<a href="{{ url_for('occurrence.add_page', back=g.current_route) }}">⚠️ {{ _('Register occurrence') }}</a>
			{% if g.current_user.access_level == AccessLevel.ADMIN %}
			<select id="language" onchange="changeLang()">
				{% for lang in languages %}
				<option value="{{ lang }}" {% if lang == current_lang %}selected{% endif %}>{{ lang }}</option>
				{% endfor %}
			</select>
			{% endif %}
		</small>
		{% endif %}
	</body>
	<script>{% block script %}{% endblock %}

	function changeLang() {
		const selLang = document.getElementById('language').value;
		window.location.href = '{{ url_for('index.change_lang', lang='') }}' + selLang;
	}

	{% if g.current_user.is_authenticated and g.current_user.access_level == AccessLevel.OPERATOR or g.current_route == 'index.inactive_page' %}
	function checkWorkHours() {
		const startHour = '{{ business_start_hour }}';
		const endHour = '{{ business_end_hour }}';
		const now = new Date();
		const currentTime = now.getHours() + ':' + ('0' + now.getMinutes()).slice(-2);
		if (currentTime < startHour || currentTime > endHour) {
			{% if g.current_route != 'index.inactive_page' %}
			window.location.href = '{{ url_for('index.inactive_page') }}';
			{% endif %}
		} else {
			{% if g.current_route == 'index.inactive_page' %}
			window.location.href = '{{ url_for('index.login_page') }}';
			{% endif %}
		}
	}
	setInterval(checkWorkHours, 60 * 1000);
	checkWorkHours();
	{% endif %}
	</script>
</html>
