<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page_title }}</title>
	</head>
	<body>
		<h1>{{ page_title }}</h1>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class=flashes>
				{% for category, message in messages %}
					<li class="flash-{{ category }}">{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block main %}
		{% endblock %}
	</body>
</html>
