{% extends "_base.html" %}
{% block main %}
<h3>{{ _('Welcome, ') }}{{ current_user.username }}!</h3>
<nav>
	<a href="{{ url_for('.register_page') }}">{{ _('Register new user') }}</a>
	<a href="{{ url_for('occurrence.start_page') }}">{{ _('Occurrences') }}</a>
	<a href="{{ url_for('.logout_page') }}">{{ _('Logout') }}</a>
</nav>
<table id="users">
	<thead>
		<tr>
			<th>{{ _('Username') }}</th>
			<th>{{ _('Access level') }}</th>
			<th>{{ _('Actions') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.access_level }}</td>
			<td>
				{% if current_user != user %}
				<a href="{{ url_for('.login_as', id=user.id) }}">{{ _('Login') }}</a>
				<a href="#" onclick="deleteUser('{{ user.username }}', '{{ url_for('.delete_user', id=user.id) }}')">{{ _('Delete') }}</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block script %}
function deleteUser(name, href) {
	if (confirm(`{{ _('Are you sure you want to delete the user ') }}"${name}"?`)) {
		window.location.href = href;
	}
}
{% endblock %}
