{% extends "base.html" %}
{% block main %}
	<h3>Welcome, {{ current_user.username }}!</h3>
	<nav>
		<a href="{{ url_for('register_page') }}">Register new user</a>
		<a href="{{ url_for('logout_page') }}">Logout</a>
	</nav>
	<table id="users">
		<thead>
			<tr>
				<th>Username</th>
				<th>Access level</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.username }}</td>
				<td>{{ user.access_level }}</td>
				<td>
					{% if current_user != user %}
						<a href="{{ url_for('delete_user', id=user.id) }}">Delete</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
