{% extends "_base.html" %}
{% block main %}
<h3>{{ _('Welcome, ') }}{{ current_user.username }}!</h3>
<nav>
	<a href="{{ url_for('.logout_page') }}">{{ _('Logout') }}</a>
</nav>
{% if current_user.access_level == AccessLevel.MANAGER %}
<ul>
	<li><a href="{{ url_for('product.start_page') }}">{{ _('Products') }}</li>
	<li><a href="{{ url_for('client.start_page') }}">{{ _('Clients') }}</li>
	<li><a href="{{ url_for('occurrence.start_page') }}">{{ _('Occurrences') }}</li>
</ul>
{% elif current_user.access_level == AccessLevel.OPERATOR %}
<ul>
	<li><a href="{{ url_for('order.start_page') }}">{{ _('Orders') }}</li>
	<li><a href="{{ url_for('client.start_page') }}">{{ _('Clients') }}</li>
</ul>
{% endif %}
{% endblock %}
