{% extends "_base.html" %}
{% block main %}
<h3>Welcome, {{ current_user.username }}!</h3>
<nav>
	<a href="{{ url_for('.logout_page') }}">Logout</a>
</nav>
{% if current_user.access_level == AccessLevel.MANAGER %}
<ul>
	<li><a href="{{ url_for('product.start_page') }}">Products</li>
	<li><a href="{{ url_for('client.start_page') }}">Clients</li>
	<li><a href="{{ url_for('occurrence.start_page') }}">Occurrences</li>
</ul>
{% elif current_user.access_level == AccessLevel.OPERATOR %}
<ul>
	<li><a href="{{ url_for('order.start_page') }}">Orders</li>
	<li><a href="{{ url_for('client.start_page') }}">Clients</li>
</ul>
{% endif %}
{% endblock %}
