{% extends "_base.html" %}
{% block main %}
<form action="{{ url_for('.register_page') }}" method="post">
	<label for="username">{{ _('Username') }}:
		<input type="text" name="username" required>
	</label>
	<br>
	<label for="password">{{ _('Password') }}:
		<input type="password" name="password" required>
	</label>
	<br>
	{% if g.first_user %}
	<input type="hidden" name="access_level" value="adm">
	{% else %}
	<label for="access_level">{{ _('Access level') }}:
		<select name="access_level" required>
			<option value="adm">{{ _('Admin') }}</option>
			<option value="man">{{ _('Manager') }}</option>
			<option value="op" selected>{{ _('Operator') }}</option>
		</select>
	</label>
	<br>
	{% endif %}
	<button type="submit">{{ _('Register') }}</button>
</form>
{% if not g.first_user %}
<p><a href="{{ url_for('.start_page') }}">{{ _('Go back') }}</a></p>
{% endif %}
{% endblock %}
