{% extends "_base.html" %}
{% block main %}
<nav>
	<a href="{{ url_for('.add_page') }}">{{ _('New order') }}</a>
	<a href="{{ url_for('index.start_page') }}">{{ _('Go to start page') }}</a>
</nav>
<table id="orders">
	<thead>
		<tr>
			<th>{{ _('Checkout date') }}</th>
			<th>{{ _('ID') }}</th>
			<th>{{ _('Client') }}</th>
			<th>{{ _('Cost') }}</th>
			<th>{{ _('Payment pending') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
		<tr>
			<td>{{ order.checkout_datetime }}</td>
			<td>{{ order.id }}</td>
			<td>{{ order.client.id if order.client else _('&lt;Anonym&gt;') }}</td>
			<td>{{ order.value / 100 }}</td>
			<td>
				{% if not order.is_paid %}
				<a href="{{ url_for('.make_payment', id=order.id) }}">{{ _('Make payment') }}</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3" style="text-align: right;">{{ _('Total') }}</th>
			<td>
				{% if orders %}
				{{ (orders|sum(attribute='value')) / 100 }}
				{% else %}
				-
				{% endif %}
			</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock %}
