{% extends "_base.html" %}
{% block main %}
<nav>
	<a href="{{ url_for('.add_page') }}">New order</a>
	<a href="{{ url_for('index.start_page') }}">Go to start page</a>
</nav>
<table id="orders">
	<thead>
		<tr>
			<th>Checkout date</th>
			<th>ID</th>
			<th>Client</th>
			<th>Cost</th>
			<th>Payment pending</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
		<tr>
			<td>{{ order.checkout_datetime }}</td>
			<td>{{ order.id }}</td>
			<td>{{ order.client.id if order.client else '<Anonym>' }}</td>
			<td>{{ order.value / 100 }}</td>
			<td>
				{% if not order.is_paid %}
				<a href="{{ url_for('.make_payment', id=order.id) }}">Make payment</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3" style="text-align: right;">Total</th>
			<td>
				{% if orders %}
				{{ (orders|sum(attribute='value')) / 100 }}
				{% else %}
				-
				{% endif %}
			</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock %}
